[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
record3d = "*"
open3d = "*"
matplotlib = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
